@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: "Caveat", cursive;
}

.main-title {
    font-size: 62px;
    font-weight: 700;
    color: palevioletred;
}

.main-title > span {
    font-size: 30px;
}

.text {
    text-align: center;
    font-size: 62px;
    font-weight: 700;
    color:orange;
}


.items {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
}

.item {
    width: 100%;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: 300px;
    background-position: 50% 50%;
    background-size: cover;
}

#photo-1 {
    background-image: url(../img/1photo.jpg);
}

#photo-2 {
    background-image: url(../img/2photo.jpg);
}

#photo-3 {
    background-image: url(../img/3photo.jpg);
}

#photo-4 {
    background-image: url(../img/4photo.jpg);
}

#photo-5 {
    background-image: url(../img/5photo.jpg);
}

#photo-6 {
    background-image: url(../img/6photo.jpg);
    background-position: 70% 50%;
}

#photo-7 {
    background-image: url(../img/7photo.jpg);
}

#photo-8 {
    background-image: url(../img/8photo.jpg);
}

#photo-9 {
    background-image: url(../img/9photo.jpg);
}

#photo-10 {
    background-image: url(../img/10photo.jpg);
}
#photo-11 {
    background-image: url(../img/11photo.jpg);
}

#photo-12 {
    background-image: url(../img/12photo.jpg);
}

#photo-13 {
    background-image: url(../img/13photo.jpg);
}

#photo-14 {
    background-image: url(../img/14photo.jpg);
}

#photo-15 {
    background-image: url(../img/15photo.jpg);
}

#photo-16 {
    background-image: url(../img/16photo.jpg);
}

#photo-17 {
    background-image: url(../img/17photo.jpg);
}

#photo-18 {
    background-image: url(../img/18photo.jpg);
}

#photo-19 {
    background-image: url(../img/19photo.jpg);
}

#photo-20 {
    background-image: url(../img/20photo.jpg);
}
#photo-21 {
    background-image: url(../img/21photo.jpg);
}

#photo-22 {
    background-image: url(../img/22photo.jpg);
}

#photo-23 {
    background-image: url(../img/23photo.jpg);
}

#photo-24 {
    background-image: url(../img/24photo.jpg);
}

#photo-25 {
    background-image: url(../img/25photo.jpg);
}

#photo-26 {
    background-image: url(../img/26photo.jpg);
}

#photo-27 {
    background-image: url(../img/27photo.jpg);
}

#photo-28 {
    background-image: url(../img/28photo.jpg);
}

#photo-29 {
    background-image: url(../img/29photo.jpg);
}

#photo-30 {
    background-image: url(../img/30photo.jpg);
}
